body {
    font-family:'Redressed', cursive;
    padding: 20px;
}

h1 {
    text-align: center;
    padding-bottom: 20px;
}

button {
    padding: .5em;
    font-size: 1em;
}

.center {
    margin: auto;
}

.future {
    font-family: 'Orbitron', sans-serif;
}

#drawing {
    width: 500px;
    height: width;
}

#buttons {
    width: 500px;
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
}